#baw{
	background-color: skyblue;
}
#tennis {background-color: pink ;
 border : 1px solid black ;}
 #music{background-color: bisque ;
 border : 1px solid black ;}
 #football{background-color: burlywood;
 border : 1px solid black ;}
body {
    background-color: lightblue;
}

